body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-cont{
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  box-sizing: border-box;
}
.app-grid{
  width: 414px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50px auto;
  grid-template-areas:"header" "user";
}
.app-header{
  grid-area: header;
  background-color: #dfdfdf;
  color: black;
  position: relative;
}
.user-list-cont{
  grid-area: user;
  box-sizing: border-box;
  background-color: #fcfbfb;
  display: grid;
  grid-template-columns: 100%;
  padding: 10px;
}
.user-thumbs-cont{
  box-sizing: border-box;
  grid-area: user;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
  grid-gap: 1rem;
  align-items: center;
  justify-items: center;
  padding: 10px;
  line-height: 0;
}
.user-details{
  grid-area: user;
  display: flex;
  flex-flow: column;
  padding: 15px;
  background-color: #fcfbfb;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
}
.user-details span{
  margin-left: 15px
}
.user-list-item{
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 1px solid rgb(63, 62, 62);
  user-select: none;
  cursor: pointer;
}
.user-thumb-item{
  position: relative;
  width: 188px;
  height: 170px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color:#e6e4e4b0
}
.right-arrow{
  opacity: 0;
  margin-right: 20px;
}
.user-item:hover > .right-arrow{
  opacity: 1;
  background-color: #fafafa;
}
.header-title{
  margin-right: calc(32%);
}
.header-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}
.header-grid{
  display: grid;
  grid-template-columns: 25% 75%;
  box-sizing: border-box;
}
.back-btn-cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
  cursor: pointer;
}
.back-arrow{
 margin-right: 10px;
}
.view-toggle{
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 26px;
  height: 26px;
  cursor: pointer;
}
.sep-txt-block{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.img-placeholder {
  width: 128px;
  height: 128px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: gray;
  align-self: center;
  margin-top: 10px;
}
.img-placeholder img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}